section.news-section
    h2.news-section__title
        | новости
        br
        | в сфере ветроэнергетики
    .news-section__items
        .news-section__item
            img(
            src="static/images/content/img3.jpg"
            alt="news image"
            )
            a(href="#") Мы предлагаем многоуровневые сервисные предложения
        .news-section__item
            img(
            src="static/images/content/img4.jpg"
            alt="news image"
            )
            a(href="#") Силу ветра, для обеспечения крупнейших экономик мира
        .news-section__item
            img(
            src="static/images/content/img5.jpg"
            alt="news image"
            )
            a(href="#") Современная ветроэнергетическая установка мультимегаватного класса
        .news-section__item
            img(
            src="static/images/content/img3.jpg"
            alt="news image"
            )
            a(href="#") Мы предлагаем многоуровневые сервисные предложения
        .news-section__item
            img(
            src="static/images/content/img4.jpg"
            alt="news image"
            )
            a(href="#") Силу ветра, для обеспечения крупнейших экономик мира